* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.6rem;
}
header {
    border: 1px solid darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button {
    width: 50px;
    height: 50px;
}
h2 {
    font-size: 2rem;
}
.box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.box p {
    border: 2px solid blue;
    width: 47%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000000;
    font-weight: 600;
}
.config {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Nao mexer */
.tirar {
    display: none;
}

.limpar {
    display: none;
}